<template>
  <div class="home">
    <PatientTable />
  </div>
</template>

<script>
// @ is an alias to /src

import PatientTable from '@/components/PatientTable.vue';
import PatientData from '@/assets/data/patients.json';
import HomeInboxData from '@/assets/data/dataHomeInbox.json';
// import HelloWorld from '@/components/HelloWorld.vue';

export default {
  name: 'Home',
  components: {
    PatientTable,
  },
  data() {
    return {
      PatientData,
      HomeInboxData,
    };
  },
  methods: {},
};
</script>
