<template>
  <!-- <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>DATE</th>
          <th>INTAKE</th>
          <th>LOCATION</th>
          <th>NUMBER</th>
          <th>DUE</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="patient in PatientData" :key="patient.id">
          <td>{{ patient.id }}</td>
          <td>{{ patient.name }}</td>
          <td>{{ patient.date }}</td>
          <td>{{ patient.intake }}</td>
          <td>{{ patient.location }}</td>
          <td>{{ patient.number }}</td>
          <td>{{ patient.due }}</td>
        </tr>
      </tbody>
    </template>
     <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">Name</th>
          <th class="text-left">Calories</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in desserts" :key="item.name">
          <td>{{ item.name }}</td>
          <td>{{ item.calories }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table> -->
  <v-container style="max-width: 1100px;">
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-card-title>
            Patient Data - Contact Tracing
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table
            class="pa-6"
            :headers="headers"
            :items="PatientData"
            :search="search"
          >
            <template v-slot:item.intake="{ item }">
              <v-chip :color="getColor(item.intake)" dark>{{
                item.intake
              }}</v-chip>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import PatientData from '@/assets/data/patients.json';

export default {
  name: 'PatienTable',
  data() {
    return {
      PatientData,
      search: '',
      headers: [
        {
          text: 'Intake ID',
          align: 'start',
          sortable: true,
          value: 'id',
        },
        { text: 'Name', value: 'name' },
        { text: 'Date Received', value: 'date' },
        { text: 'Intake Status', value: 'intake' },
        { text: 'Location', value: 'location' },
        { text: 'Number Of Contacts', value: 'number' },
        { text: 'Due Date', value: 'due' },
      ],
      desserts: [
        {
          name: 'Frozen Yogurt',
          calories: 159,
        },
        {
          name: 'Ice cream sandwich',
          calories: 237,
        },
        {
          name: 'Eclair',
          calories: 262,
        },
        {
          name: 'Cupcake',
          calories: 305,
        },
        {
          name: 'Gingerbread',
          calories: 356,
        },
        {
          name: 'Jelly bean',
          calories: 375,
        },
        {
          name: 'Lollipop',
          calories: 392,
        },
        {
          name: 'Honeycomb',
          calories: 408,
        },
        {
          name: 'Donut',
          calories: 452,
        },
        {
          name: 'KitKat',
          calories: 518,
        },
      ],
    };
  },
  methods: {
    getColor(intake) {
      if (intake == 'Treated') {
        return 'green';
      } else if (intake == 'New') {
        return 'orange';
      } else if (intake == 'Triaged') {
        return 'red';
      } else if (intake == 'Recieved') {
        return 'blue';
      } else return 'green';
    },
  },
};
</script>

<style></style>
